<header class="header">

  <a href="#" class="logo">Yann.</a>

  <div class="bx bx-menu" id="menu-icon"></div>

  <nav class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#about">About</a>
    <a href="#education">Education</a>
    <a href="#skills">Skills</a>
    <a href="#contact">Contact</a>

  </nav>
</header>

<section class="home" id="home">
  <div class="home-content">
    <h1>Hi, I'm <span>Yann Le Saint</span></h1>
    <div class="text-animate">
      <h3>FullStack Developer</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure totam possimus illo pariatur. Aliquid eos in suscipit asperiores ab, sit ea adipisci magni vel odit hic iure repudiandae quis fuga.</p>

    <div class="btn-box">
      <a href="#" class="btn">Hire Me</a>
      <a href="#" class="btn">Let's Talk</a>
    </div>
  </div>

  <div class="home-links">
    <a href="#"><i class='bx bxl-linkedin'></i></a>
    <a href="#"><i class='bx bxl-github' ></i></a>
    <a href="#"><i class='bx bxl-facebook-circle' ></i></a>
  </div>

  <div class="home-img">
   <%= image_tag 'wagon.png', class: 'home-image' %>
  </div>

</section>

<section class="about" id="about">
  <h2 class="heading">About <span>Me</span></h2>

  <div class="about-img">
    <%= image_tag 'wagon.png', class:'img' %>
    <span class="circle-spin"></span>
  </div>

  <div class="about-content">
    <h3>FullStack Developer !</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, consequatur? Quo minus qui saepe odio rem repudiandae, impedit mollitia inventore ullam cum ea iste iure suscipit porro, dignissimos laboriosam a. Quos molestiae dolorum autem asperiores nisi, nihil eius voluptas natus reiciendis illum rerum pariatur, neque suscipit error iste accusamus recusandae sint laborum! Fugit, assumenda nisi voluptates, repellendus soluta ipsam vitae inventore ratione possimus dignissimos maiores! Ea consequuntur tempore vero. Vel fugit, deserunt alias unde excepturi quod porro fuga sunt! Nisi laborum, ex voluptatum praesentium suscipit dolorum, architecto quam quis expedita quo laudantium animi est deserunt placeat eligendi maiores sunt sapiente!</p>

    <div class="btn-box btns">
      <a href="#" class="btn">Download CV</a>
      <a href="#" class="btn">Read More</a>
    </div>
  </div>
</section>

<section class="education" id="education">
  <h2 class="heading">My <span>Journey</span></h2>
  <div class="education-row">
    <div class="education-column">
      <h3 class="title">Education</h3>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bx-calendar-check' ></i> July 2023 - September 2023</div>
            <h3>BootCamp - Le Wagon</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, hic cum! Error corporis ipsam culpa corrupti minus aliquam ratione in!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
