<header class="header">

  <a href="#" class="logo">Yann.</a>

  <div class="bx bx-menu" id="menu-icon"></div>

  <nav class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#about">About</a>
    <a href="#education">Education</a>
    <a href="#skills">Skills</a>
    <a href="#contact">Contact</a>

  </nav>
</header>

<section class="home" id="home">
  <div class="home-content">
    <h1>Hi, I'm <span>Yann Le Saint</span></h1>
    <div class="text-animate">
      <h3>FullStack Developer</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure totam possimus illo pariatur. Aliquid eos in suscipit asperiores ab, sit ea adipisci magni vel odit hic iure repudiandae quis fuga.</p>

    <div class="btn-box">
      <a href="#" class="btn">Hire Me</a>
      <a href="#" class="btn">Let's Talk</a>
    </div>
  </div>

  <div class="home-links">
    <a href="#"><i class='bx bxl-linkedin'></i></a>
    <a href="#"><i class='bx bxl-github' ></i></a>
    <a href="#"><i class='bx bxl-facebook-circle' ></i></a>
  </div>

  <div class="home-img">
   <%= image_tag 'wagon.png', class: 'home-image' %>
  </div>

</section>

<section class="about" id="about">
  <h2 class="heading">About <span>Me</span></h2>

  <div class="about-img">
    <%= image_tag 'wagon.png', class:'img' %>
    <span class="circle-spin"></span>
  </div>

  <div class="about-content">
    <h3>FullStack Developer !</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis dolor laudantium deleniti doloremque quis ut voluptatem ducimus, neque soluta voluptates expedita eaque optio in recusandae exercitationem? Optio id praesentium inventore enim nemo consequuntur suscipit neque, hic at sapiente excepturi dolore delectus tempore aliquid nobis fugit assumenda aperiam soluta quidem maiores perferendis ratione vero eveniet incidunt? Repellendus error magni quas omnis alias a laudantium natus ratione accusamus quisquam quasi neque tempora vero vel, qui, dicta eum aliquam? Explicabo officiis voluptatibus ipsam iste praesentium distinctio quaerat laudantium, molestiae adipisci sit. Impedit sequi harum enim nisi iure maiores aut, ipsum quas? Blanditiis recusandae fugiat, officia rerum accusamus ipsum eos eius minus possimus. Maiores repellendus vero quod, quaerat adipisci at. Ut maiores nisi recusandae labore! Enim harum eveniet unde, iusto recusandae delectus ex totam quos expedita. Molestiae deserunt, nihil molestias placeat delectus corrupti ullam, non, iste atque cum rem magni officiis dolor ipsam tenetur.</p>

    <div class="btn-box btns">
      <a href="#" class="btn">Download CV</a>
      <a href="#" class="btn">Read More</a>
    </div>
  </div>
</section>

<section class="education" id="education">
  <h2 class="heading">My <span>Journey</span></h2>

  <div class="education-row">
    <div class="education-column">
      <h3 class="title"><i class='bx bxs-graduation'></i>Education</h3>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bx-calendar-check' ></i> July 2023 - September 2023</div>
            <h3>BootCamp - Le Wagon</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, hic cum! Error corporis ipsam culpa corrupti minus aliquam ratione in!</p>
          </div>
        </div>

        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bx-calendar-check' ></i> September 2006 - July 2009</div>
            <h3>Diplôme d'état de pédicure-podologue</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, hic cum! Error corporis ipsam culpa corrupti minus aliquam ratione in!</p>
          </div>
        </div>

        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bx-calendar-check' ></i> June 2004 </div>
            <h3>baccalauréat Scientifique</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, hic cum! Error corporis ipsam culpa corrupti minus aliquam ratione in!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="education-column">
      <h3 class="title"><i class='bx bxs-briefcase' ></i>Experience</h3>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bx-calendar-check' ></i> October 2023 - Now </div>
            <h3>Teacher Assistant - Le Wagon</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, hic cum! Error corporis ipsam culpa corrupti minus aliquam ratione in!</p>
          </div>
        </div>

        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bx-calendar-check' ></i> July 2017 - June 2023 </div>
            <h3>Pédicure-Podologue - Cabinet Le Saint</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, hic cum! Error corporis ipsam culpa corrupti minus aliquam ratione in!</p>
          </div>
        </div>

        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bx-calendar-check' ></i> February 2011 - Mai 2016 </div>
            <h3>Pédicure-Podologue - Cabinet Chauffour</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, hic cum! Error corporis ipsam culpa corrupti minus aliquam ratione in!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="skills" id="skills">
  <h2 class="heading">My <span> Skills</span></h2>

  <div class="skills-row">
    <div class="skills-column">
      <h3 class="title">Langages</h3>

      <div class="skills-box">
        <div class="skills-content">
          <div class="progression">
            <h3>Ruby <span>90%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progression">
            <h3>JavaScript <span>90%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progression">
            <h3>HTML <span>90%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progression">
            <h3>CSS <span>90%</span></h3>
            <div class="bar"><span></span></div>
          </div>

        </div>
      </div>
    </div>

    <div class="skills-column">
      <h3 class="title">FrameWork</h3>

      <div class="skills-box">
        <div class="skills-content">
          <div class="progression">
            <h3>Rails <span>90%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progression">
            <h3>Stimulus <span>90%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progression">
            <h3>Bootstrap <span>90%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progression">
            <h3>React <span>20%</span></h3>
            <div class="bar"><span></span></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
