// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  background: $bg-color;
  color: $text-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

span {
  color: $main-color;
}

.heading {
  font-size: 5rem;
  margin-bottom: 12rem;
  text-align: center;
  font-weight: 900;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: $text-color;
  font-weight: 600;
  text-decoration: none;
}

.navbar a {
  font-size: 1.8rem;
  color: $text-color;
  font-weight: 600;
  margin-left: 3.5rem;
  text-decoration: none;
  transition: .3s ease-in-out;

}

.navbar a:hover,
.navbar a.active {
  color: $main-color;
}

#menu-icon {
  font-size: 3.6rem;
  color: $text-color;
  cursor: pointer;
  display: none;
}
